.about {
  // display: flex;
  // flex-direction: row;

  .dropdowns {
    // display: flex;
    // flex-direction: row;
    margin: 0 4rem;

    & .dropdown {
      margin: 1rem 0;
      // width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .dropdowns {
      margin: 2rem 0;
    }
  }
}
