.about {
  display: flex;
  flex-direction: column;

  .dropdowns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4rem;
    gap: 1rem;
    padding: 1rem;

    .dropdown {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .dropdowns {
      margin: 2rem 0;
    }
  }
}
