@import "./variables";

.logement {
  display: flex;
  flex-direction: column;

  .article__content {
    display: flex;
    justify-content: space-between;

    &__title {
      text-align: left;
      margin-right: 1rem;
    }
    &__author {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // text-align: center;

      &__avatar {
        display: flex;
        align-items: center;
        & p {
          max-width: 100px;
          text-align: right;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 1rem;
        }
      }

      &__rating {
        display: flex;
        align-items: center;
        justify-content: space-around;
        & i {
          margin: 0 0.4rem;
        }
        & .fa-none {
          color: $grey;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .article__content {
      flex-direction: column;

      &__author {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .article__tags {
    &__items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .tag__item {
        display: block;
        height: 18px;
        padding: 0.2rem 0.5rem;
        border-radius: 25px;
        background-color: $main-color;
        color: #fff;
      }
    }
  }

  .dropdowns {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    & .dropdown {
      margin: 2rem 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .dropdowns {
      gap: 0;
      flex-direction: column;

      & .dropdown {
        margin: 1rem 0;
      }
    }
  }
}
