@import './variables';

article {
  color: $main-color;

  .article__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 1rem;

    &__title {
      text-align: left;
    }
    &__author {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 1rem;
      }

    }

    &__rating {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1rem 0;

      .far {
        margin-right: 1rem;
        // height: 30px;
        // width: 30px;
        // background-color: $main-color;
      }
    }

  }
  
}