.banner {
  position: relative;
  // text-align: center;
  height: 223px;
  border-radius: 25px;
  color: #fff;
  overflow: hidden;

  // backgroundImage in style element
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__filter {
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
  }

  &__title {
    position: relative;
    z-index: 5;
    height: 100%;
    margin: 1rem;
  }
}

@media (max-width: 768px) {
  .banner {
    justify-content: flex-start;
    height: 110px;
    &__title {
      width: 200px;
    }
  }
}
