@import "./variables";

.dropdown {
  .dropdown__topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: $main-color;
    cursor: pointer;
    border-radius: 5px;
    height: 52px;
    margin-top: 1.5rem 0;

    & img {
      transition: 0.3s ease-in-out;
      width: 20px;
      margin-right: 1rem;
    }
  }
  .dropdown__content {
    background-color: $main-grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0px;
    transition: all 0.3s ease-in-out;
  }

  .dropdown__item {
    padding: $main-padding;
  }

  .open {
    height: 100%;
  }
}
